<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="LicenseConnectionString" connectionString="Data Source=reallicense.db.9737525.hostedresource.com;Initial Catalog=reallicense; uid=reallicense; pwd=JKsoftware1!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="IAuthenticationSvc" value="RealService.Service.Plugin.AuthenticationSvcADOImpl"/>
  </appSettings>
</configuration>
